Repository m0-foundation/mUSD: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run solhint

.lintstagedrc:

{
  "*.{json,md,sol,yml}": [
    "npm run prettier"
  ],
  "src/**/*.sol": [
    "npm run solhint"
  ]
}

removed consoles
  test/integration/MUSD.t.sol
Due: npm run prettier

removed not freeze manager "integration" test
  test/integration/MUSD.t.sol
Due: npm run prettier

Update README.md
  README.md
Due: npm run prettier

Update README.md (#12)
  README.md
Due: npm run prettier

Integration tests (#6)
  test/integration/MUSD.t.sol
Due: npm run prettier

chore: add deploy cmds and deployment addresses
  .env.example
  Makefile
  README.md
  package.json
Due: npm run prettier

chore(foundry.toml): add Etherscan V2 config
  foundry.toml
Due: none

chore: add deploy cmds and deployment addresses (#13)
  .env.example
  Makefile
  README.md
  foundry.toml
  package.json
Due: npm run prettier

chore(MUSD): add comment to clarify forceTransfer
  src/MUSD.sol
Due: npm run prettier, npm run solhint

chore(MUSD): add comment to clarify forceTransfer (#14)
  src/MUSD.sol
Due: npm run prettier, npm run solhint

fix(MUSD): remove pause on approval
  src/MUSD.sol
  test/integration/MUSD.t.sol
  test/unit/MUSD.t.sol
Due: npm run prettier, npm run solhint

chore(MUSD): add comments to clarify pause status
  src/IMUSD.sol
  src/MUSD.sol
Due: npm run prettier, npm run solhint

chore(MUSD): make pause functions external
  src/MUSD.sol
Due: npm run prettier, npm run solhint

chore(MUSD): make initialize function external
  src/MUSD.sol
  test/harness/MUSDHarness.sol
  test/integration/MUSD.t.sol
  test/unit/MUSD.t.sol
Due: npm run prettier, npm run solhint

chore(IMUSD): re-order forceTransfer
  src/IMUSD.sol
Due: npm run prettier, npm run solhint

fix(MUSD): Diligence preliminary review suggestions (#15)
  src/IMUSD.sol
  src/MUSD.sol
  test/harness/MUSDHarness.sol
  test/integration/MUSD.t.sol
  test/unit/MUSD.t.sol
Due: npm run prettier, npm run solhint

add docs
  audits/MZero-review-report-v1-private.md
  specs/MUSDTechnicalSpec.pdf
Due: npm run prettier

chore(MUSD): improve pause Natspec doc
  src/IMUSD.sol
Due: npm run prettier, npm run solhint

chore: add docs (#16)
  audits/MZero-review-report-v1-private.md
  specs/MUSDTechnicalSpec.pdf
Due: npm run prettier

chore(MUSD): improve pause Natspec doc (#17)
  src/IMUSD.sol
Due: npm run prettier, npm run solhint

chore(MUSD): add official token name
  src/MUSD.sol
  test/integration/MUSD.t.sol
  test/unit/MUSD.t.sol
Due: npm run prettier, npm run solhint

chore(deploy): add EarnerGamma salt
  script/deploy/DeployMUSD.s.sol
  script/deploy/DeployMUSDBase.sol
  test/deploy/Deploy.t.sol
Due: npm run prettier

chore(deploy): deploy to Ethereum Mainnet
  broadcast/DeployMUSD.s.sol/1/run-1755016167.json
  broadcast/DeployMUSD.s.sol/1/run-latest.json
Due: npm run prettier

chore(deploy): deploy to Linea Mainnet
  broadcast/DeployMUSD.s.sol/59144/run-1755017783.json
  broadcast/DeployMUSD.s.sol/59144/run-latest.json
  test/deploy/Deploy.t.sol
Due: npm run prettier

chore(README): add Mainnet deployment addresses
  README.md
Due: npm run prettier

chore(DeployMUSD): fix admin console.log
  script/deploy/DeployMUSD.s.sol
Due: npm run prettier

chore: deploy to Mainnet (#18)
  README.md
  broadcast/DeployMUSD.s.sol/1/run-1755016167.json
  broadcast/DeployMUSD.s.sol/1/run-latest.json
  broadcast/DeployMUSD.s.sol/59144/run-1755017783.json
  broadcast/DeployMUSD.s.sol/59144/run-latest.json
  script/deploy/DeployMUSD.s.sol
  script/deploy/DeployMUSDBase.sol
  src/MUSD.sol
  test/deploy/Deploy.t.sol
  test/integration/MUSD.t.sol
  test/unit/MUSD.t.sol
Due: npm run prettier, npm run solhint

chore(MUSD): add ascii art and update libs
  foundry.lock
  src/MUSD.sol
Due: npm run prettier, npm run solhint

chore(upgrade): add upgrade scripts
  .gitattributes
  .github/workflows/coverage.yml
  .github/workflows/test-gas.yml
  Makefile
  build-info-v1/c7da8767ab5f1f13.json
  foundry.lock
  package.json
  script/upgrade/PrepareMUSDUpgrade.s.sol
  script/upgrade/UpgradeMUSD.s.sol
  script/upgrade/UpgradeMUSDBase.sol
  test/upgrade/Upgrade.t.sol
Due: npm run prettier

chore(upgrade): add upgrade scripts (#19)
  .gitattributes
  .github/workflows/coverage.yml
  .github/workflows/test-gas.yml
  Makefile
  build-info-v1/c7da8767ab5f1f13.json
  foundry.lock
  package.json
  script/upgrade/PrepareMUSDUpgrade.s.sol
  script/upgrade/UpgradeMUSD.s.sol
  script/upgrade/UpgradeMUSDBase.sol
  src/MUSD.sol
  test/upgrade/Upgrade.t.sol
Due: npm run prettier, npm run solhint

chore(MUSD): remove fox ascii art
  src/MUSD.sol
Due: npm run prettier, npm run solhint

chore(foundry.lock): update forge-std dependencie
  foundry.lock
Due: none

chore(upgrade): upgrade contract on Ethereum and Linea
  broadcast/UpgradeMUSD.s.sol/1/run-1755813751080.json
  broadcast/UpgradeMUSD.s.sol/1/run-latest.json
  broadcast/UpgradeMUSD.s.sol/59144/run-1755814521370.json
  broadcast/UpgradeMUSD.s.sol/59144/run-latest.json
Due: npm run prettier

chore(upgrade): upgrade contract on Ethereum and Linea (#20)
  broadcast/UpgradeMUSD.s.sol/1/run-1755813751080.json
  broadcast/UpgradeMUSD.s.sol/1/run-latest.json
  broadcast/UpgradeMUSD.s.sol/59144/run-1755814521370.json
  broadcast/UpgradeMUSD.s.sol/59144/run-latest.json
  foundry.lock
  src/MUSD.sol
Due: npm run prettier, npm run solhint

Add audit reports
  audits/ChainSecurity_M0_MUSD_audit.pdf
  audits/ConsensysDiligence_M0_MUSD_audit.txt
Due: none

Add audit reports
  audits/GuardianAudits_M0_MUSD_report.pdf
Due: none

chore(README): update implementation addresses
  README.md
Due: npm run prettier

chore(README): update implementation addresses (#21)
  README.md
Due: npm run prettier

fix(audits): add Consensys Diligence report in PDF
  audits/ConsensysDiligence_M0_MUSD_audit.pdf
  audits/ConsensysDiligence_M0_MUSD_audit.txt
Due: none

Add audit reports (#22)
  audits/ChainSecurity_M0_MUSD_audit.pdf
  audits/ConsensysDiligence_M0_MUSD_audit.pdf
  audits/GuardianAudits_M0_MUSD_report.pdf
Due: none
